.container{
    color: white;
    font-size: 24px;
    font-family: 'Fira Code';
    margin-top: 144px;
}
.container h1{
    padding: 32px;
    font-size: 24px;
    border: 1px solid #ABB2BF;
}
.container h2{
    float: right;
    font-family: 'Fira Code';
    padding: 32px;
    font-size: 24px;
    border: 1px solid #ABB2BF;
    margin-top: -25px;
    margin-bottom: 74px;
}